# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Keys and Secrets
*.key
*.pem
*.cert
*.crt
secret.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# ML / PyCaret / Notebooks
mlruns/
*.ipynb_checkpoints/

# System Files
.DS_Store
Thumbs.db

# Node
node_modules/
dist/
dist-ssr/
*.local

# Logs
logs.log
